    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About SDV</h2>
                  <p>SDV, The Synthetic Data Vault, is an open source tool that learns from real world relational databases to later on be able to produce syntehtic data as similar as possible to it.</p>
                  <p>Whether the goal is anonymized data sharing, oversampling unbalanced Machine Learning Datasets or simply Syntehtic data generation, SDV is what you are looking for!</p>
            </div>
        </div>
    </section>
