    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Get Started</h2>
                    <p>SDV is free to use and has excellent documentation to guide you while getting started.</p>
                    <a href="https://hdi-project.github.io/SDV/" target="_blank" class="fa fa-github btn btn-default btn-lg"> Get Started!</a>
                </div>
            </div>
        </div>
    </section>
